
.notas{
    width: 100%;
    height: 100%;
  display: grid;
  grid-template:
  "img1 nota1" 400px
  "img2 nota2" 400px
  "img3 nota3" 400px 
  "img4 nota4" 400px/
  440px auto 
;
gap: 1.5rem;

img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
}
.img1{
    grid-area:img1 ;
    border-radius: 1rem;

}
.img2{
    grid-area:img2 ;
    border-radius: 1rem;
}
.img3{
    grid-area:img3 ;
    border-radius: 1rem;
}
.img4{
    grid-area:img4 ;
    border-radius: 1rem;
}
.nota__1{
   font-size: 1.3rem;
   text-align:center;
    grid-area:nota1;
}
.nota__2{
    font-size: 1.3rem;
   text-align:center;
    grid-area:nota2;
}
.nota__3{
    font-size: 1.3rem;
   text-align:center;
    grid-area:nota3;
}
.nota__4{
    font-size: 1.3rem;
   text-align:center;
    grid-area:nota4;
}

}