.navbar-nav a {
    font-size: 1.5rem;
    color: white;
}

.navbar>.container-fluid {
    padding-right: 0;
    padding-left: 0;
    border-radius: 1rem;
    background-color: rgb(100, 98, 98);
}

div .collapse {
    background-color: rgb(100, 98, 98);
    color: white;
    border-radius: 1rem;
}